.card{
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    transform: all .2s ease-in-out;
    
    img{
        padding: 0;
    }
    &:hover{
        width: max-content;
        transform: scale(1.1);

    }
}
#tarjetas{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#e9ecef;
}#contenedor-cards{
    padding-top: 1.2rem;
}
.card-img-overlay{

    opacity: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.jumbotron{
    padding: 2rem 2rem;
}
.imagenes{
    border:0;
    padding: 0;
    a{
        color:white
    }
  
    
}
form{
    button{
        margin-top: 1rem;
    }
}
.dropdown{
    margin-bottom: 1rem;
    margin-top: 1rem;
}


